<div id="product_page">
  <label for="tags">Select product tag:</label>
  <select id="tags">
    <% @tags.each do |tag| %>
      <option value="<%=tag['name']%>"><%=tag['name']%></option>
    <% end %>
  </select>
  <% @products.each do |product| %>
    <div class="product">
      <a class = "product_link" href="products/<%=product['id']%>">
      <img class="product_img"src="<%=product['image_path']%>" alt="<%=product['name']%>">
      <h2 class="product_text"><%= product['name'] %></h2>
      </a>
      <p class="product_text">Price: <%= product['price'] %></p>
    </div>
  <% end %>
</div>

