<div class="product">
    <img class="product_img"src="<%=@product['image_path']%>" alt="<%=@product['name']%>">
    <h2><%= @product['name'] %></h2>
    <p><%= @product['description'] %></p>
    <p>Price: <%= @product['price'] %></p>
    <h2>Rating: <%=@rating%></h2>
</div>

<h3>Tags:</h3>
<ul>
    <% @product_tags.each do |tag| %>
        <li><%=tag['tag_name']%></li>
    <% end %>
</ul>
<a href="/products/tag/All">Return To Homepage</a>

<% if @user_access != nil && @user_access['access'] == 2 %>
    <a href="/products/<%=@product['id']%>/edit">Edit Product</a>
    <a href="/products/<%=@product['id']%>/delete">Delete Product</a><br><br>
<% end %>

<% if @user_id != nil%>
    <form action="/review/<%=@product['id']%>/create" method='post'>
        Rating: <input type="number" min = "0" max = "5" required="required" name='rating'></input><br><br>
        Review: <input type="text" name='review'></input><br><br>
        <button type="submit">Comment</button>
    </form><br><br>
<% end %>

<% @reviews.each do |review| %>
    <div class="review">
        <h2><%=review['username']%> </h2>
        <h2>Rating:<%=review['rating']%>/5</h2>
        <p><%=review['review']%></p>
        <% if @user_access != nil && @user_access['access'] == 2 %>
            <a href="/reviews/<%=review['review_id']%>/delete">Delete Comment</a>
        <%end%>
    </div>
<% end %>