<div class="product">
    <img class="product_img"src="/<%=@product['image_path']%>" alt="<%=@product['name']%>">
    <h2><%= @product['name'] %></h2>
    <p><%= @product['description'] %></p>
    <p>Price: <%= @product['price'] %></p>
</div>

<a href="/products">Return To Homepage</a>
<a href="/products/<%=@product['id']%>/delete">Delete Product</a>